<!DOCTYPE html>
<html lang="en" ng-app="store">
<!-- this directive is an angular module that creates an angular app when the document loads by running "var app = angular.module('store', []);" -->
<head>
  <meta charset="UTF-8">
  <title>Gem Store</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body class="container" ng-controller="StoreController as store">
  <!-- <div ng-hide="store.product.soldout"> -->
  <div ng-repeat="product in store.products">
    <h1>{{product.name}}</h1>
    <h2>{{product.price | currency}}</h2>
    <!-- built in directive "ng-show" with a specified expression "store.product.canPurchase-->
    <!-- this expression is telling our button to only show if the value of canPurchase is true -->
    <button ng-show="product.canPurchase">Add to Cart</button>

    <!-- display only if there are images in array -->
    <div class="gallery" ng-show="product.images.length">
      <img ng-src={{product.images[0]}} />
    </div>

    <section ng-init="tab = 1" ng-controller="TabController as panel">
      <ul class="nav nav-pills">
      <!-- add "active" class if the expression on the right evaluates to true -->
        <li ng-class="{ active: panel.isSelected(1) }"><a href="" ng-click="panel.selectTab(1)">Description</a></li>
        <li ng-class=" { active: panel.isSelected(2) }"><a href="" ng-click="panel.selectTab(2)">Specificiations</a></li>
        <li ng-class=" {active: panel.isSelected(3) }"><a href="" ng-click="panel.selectTab(3)">Reviews</a></li>
      </ul>
      <div class="panel" ng-show="panel.isSelected(1)">
        <h4>Description</h4>
        <p>{{product.description}}</p>
      </div>
      <div class="panel" ng-show="panel.isSelected(2)">
        <h4>Specifications</h4>
        <blockquote>None yet</blockquote>
      </div>
      <div class="panel" ng-show="panel.isSelected(3)">
        <h4>Reviews</h4>
        <blockquote ng-repeat="review in product.reviews">
          <b>Stars: {{review.starts}}</b>
          {{review.body}}
          <cite>by : {{review.author</cite>
        </blockquote>
        <form action="" name="reviewForm">
          <select>
            <option value="1">1 Star</option>
            <option value="2">2 Star</option>
            <option value="3">3 Star</option>
            <option value="4">4 Star</option>
            <option value="5">5 Star</option>
          </select>
          <textarea name="comment" id="comment" cols="25" rows="2" placeholder="Write a review about this product."></textarea>
          <label for="" placeholder="example@email.com">by:</label>
          <input type="email">
          <input type="submit" value="Submit" class="btn">
        </form>
      </div>
    </section>
  </div>



  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
  <script type="text/javascript" src="./app.js"></script>

</body>
</html>